@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
body {
    margin: 0px;
    padding: 0px;
    font-family: roboto, "Roboto";
    width: 100%;
    background-color: #0094d9;
}


/* Main */

.login-container {
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 50px;
}

.form-box {
    margin: auto;
    width: 300px;
    height: 400px;
    border-radius: 20%;
    background-color: white;
    padding: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#login-form h1 {
    text-align: center;
}

#login-form p {
    font-weight: bold;
}

.input-container {
    position: relative;
    margin-bottom: 25px;
}

.input-container label {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 16px;
    color: black;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
}

.input-container input {
    border: 0;
    border-bottom: 1px solid #555;
    background: transparent;
    width: 100%;
    padding: 8px 0 5px 0;
    font-size: 16px;
    color: black;
}

.input-container input:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid #e74c3c;
}

.input-container input:focus~label,
.input-container input:valid~label {
    top: -12px;
    font-size: 12px;
}

.panel {
    margin-top: 30px;
}